@tailwind base;
@tailwind components;
@tailwind utilities;

/* .css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #010101 !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #010101 !important;
} */
